.nav {
  display: grid;
  grid-row: 1;
  grid-column: 1/3;
  grid-template-columns: 1fr 0.4fr;
  grid-gap: 3rem;
  /* justify-content: center; */
  align-items: center;
  background-color: #222225; }
  .nav-container {
    display: flex;
    justify-content: flex-start;
    align-content: center; }

.logo-container {
  padding: 1.3rem;
  padding-right: 0;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.logo {
  width: 19rem;
  height: 4.3rem; }

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none; }

.nav__item {
  margin-left: 3rem;
  position: relative;
  transition: all 0.9s; }

.nav__link:link,
.nav__link:visited {
  font-size: 1.5rem;
  color: #dadae1;
  text-decoration: none; }

.nav__link::after {
  display: flex;
  justify-content: flex-end;
  width: 0%;
  height: 2px;
  background: #e15d51;
  position: absolute;
  content: "";
  bottom: -2.6rem;
  left: 0;
  right: 0;
  transition: all 0.5s ease; }

.nav__link:hover::after {
  width: 100%; }

.nav__link:hover {
  color: #e15d51; }

.nav-social {
  display: flex;
  justify-content: flex-end;
  align-content: center; }
  .nav-social__icon {
    width: 3rem;
    height: 3rem;
    margin-right: 2rem; }
  .nav-social__icons {
    display: flex;
    align-items: center; }

.social-link:link,
.social-link:visited {
  text-decoration: none; }

.sound-off__img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 2rem;
  cursor: pointer; }

.signIn {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border: 2px solid #e15d51;
  border-radius: 1rem;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  width: 12rem;
  height: 4rem;
  background-color: #222225;
  color: #e15d51;
  margin-right: 2rem;
  transition: all 0.3s; }

.signIn:hover {
  color: #dadae1;
  background-color: #e15d51;
  font-size: 1.45rem; }

.google__img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Josefin Sans", sans-serif;
  color: #dadae1;
  background-color: black;
  height: 100vh; }

.maingrid {
  display: grid;
  grid-template-columns: 0.52fr 1fr;
  grid-template-rows: 7rem 1fr;
  grid-gap: 1rem;
  height: 100vh; }

.background2 {
  background-color: #3c3c48; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  border-radius: 1rem;
  background-color: #2a2a30;
  color: #dadae1;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s; }

.modal__header {
  font-size: 2.25rem;
  margin-bottom: 2.5rem;
  line-height: 1.5; }
  .modal__header__text {
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
    line-height: 1.2; }

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none; }

.btn__close-ok {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  color: #a4a4b2;
  border-radius: 1rem;
  border: 1px solid #2a2a30;
  background-color: #2a2a30;
  box-shadow: 8px 8px 16px 16px #222225;
  transition: all 0.3s; }

.btn__close-ok:hover {
  color: #dadae1;
  border: 1px solid #e15d51;
  background-color: #e15d51;
  box-shadow: none; }

.hidden {
  visibility: hidden;
  opacity: 0; }

.opacity {
  opacity: 0; }

.display {
  display: none; }

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem; }
  .sidebar__games {
    display: flex;
    justify-content: space-around;
    width: 95%;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #2a2a30;
    height: 7.5rem; }
    .sidebar__games__icon {
      width: 5rem;
      height: 5rem;
      transition: all 0.5s ease;
      opacity: 0.5; }
    .sidebar__games__icon:hover {
      opacity: 1; }
    .sidebar__games__link {
      border-bottom: 2px solid transparent;
      transition: all 0.5s ease; }

.active {
  opacity: 1;
  margin-bottom: -1rem;
  border-bottom: 2px solid #e15d51; }

.sidebar__chat {
  width: 95%;
  margin-top: 1.5rem;
  background-color: #222225;
  border-radius: 1rem; }

.main-chat {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem; }
  .main-chat__message {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-gap: 0.5rem 1rem;
    padding: 1.5rem; }
    .main-chat__message__avatar {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%; }
    .main-chat__message__avatar-container {
      grid-column: 1/2;
      grid-row: 1/3; }
    .main-chat__message__nick-conrainer {
      display: flex;
      align-items: center; }
    .main-chat__message__nick {
      font-size: 1.5rem;
      color: #dadae1; }
    .main-chat__message__time {
      font-size: 1.2rem;
      margin-left: 1rem;
      color: #606067; }
    .main-chat__message__send {
      font-size: 1.5rem;
      color: #a4a4b2; }

.send-message {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 2.5rem;
  border: 1px transparent;
  border-radius: 1rem;
  width: 94.5%;
  height: 4.5rem;
  margin: 1rem;
  background: #2f2f34; }
  .send-message__input {
    display: flex;
    align-items: center;
    border: 1px transparent;
    border-radius: 1rem;
    background: #2f2f34;
    color: #a4a4b2;
    width: 65%;
    height: 3.5rem; }
  .send-message__input:focus, .send-message__input:active {
    outline: none !important; }
  .send-message__input:focus::placeholder, .send-message__input:active::placeholder {
    color: transparent; }
  .send-message__emogi {
    width: 3.2rem;
    height: 3.2rem;
    margin-left: 3rem; }
  .send-message__button {
    background: #e15d51;
    border-radius: 3px;
    border: 1px transparent;
    width: 3.2rem;
    height: 3.2rem; }
    .send-message__button__send {
      padding: 0.4rem 0 0 0.2rem;
      width: 2.2rem;
      height: 2.2rem; }

.chat-rules {
  margin-top: 1rem;
  padding-left: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 3rem; }
  .chat-rules__rules {
    font-size: 1.4rem;
    cursor: pointer; }
  .chat-rules__players {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 16rem;
    font-size: 1.4rem;
    color: #a4a4b2; }
    .chat-rules__players__online {
      font-size: 1.6rem;
      color: #dadae1; }
    .chat-rules__players__dot {
      display: block;
      width: 0.8rem;
      height: 0.8rem;
      background-color: #7bd62b;
      border-radius: 50%;
      animation: flash 4s infinite; }

.sidebar__language {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 1rem;
  padding-left: 2rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  background: #2f2f34;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem; }
  .sidebar__language__text {
    font-size: 1.5rem; }
  .sidebar__language__form-language {
    margin-left: 1.5rem; }
    .sidebar__language__form-language__select {
      width: 6rem;
      height: 3rem;
      border: 1px transparent;
      font-size: 1.5rem;
      border-radius: 1rem;
      background: #3b3b41;
      color: #dadae1;
      display: flex;
      justify-self: center; }
    .sidebar__language__form-language__select:active, .sidebar__language__form-language__select:focus {
      outline: none !important; }

.roullete-grid {
  display: grid;
  grid-template-rows: 0.5fr 1fr; }

.main-roullet {
  display: grid;
  grid-row-gap: 2rem;
  padding: 2rem 2rem 2rem 0;
  margin-right: 1rem;
  border-radius: 1rem;
  background-color: #222225;
  position: relative;
  overflow-x: hidden;
  height: 35rem; }
  .main-roullet__taimer {
    width: 62%;
    height: 5rem;
    background-color: black;
    border-radius: 2rem;
    position: relative;
    margin-left: 2rem; }
    .main-roullet__taimer__progres-bar {
      background-color: #e15d51;
      width: 100%;
      height: 5rem;
      border-radius: 2rem;
      z-index: 1;
      position: absolute; }
    .main-roullet__taimer__text {
      font-size: 1.5rem;
      z-index: 10;
      position: absolute;
      margin: 1.9rem 0 0 2rem; }

@keyframes timer {
  0% {
    width: 100%;
    opacity: 1; }
  49% {
    opacity: 1; }
  50% {
    width: 0%;
    opacity: 0; }
  99% {
    opacity: 0; }
  100% {
    width: 0%;
    opacity: 0; } }
  .main-roullet__pointer {
    width: 0.5rem;
    height: 8rem;
    background-color: white;
    position: absolute;
    z-index: 1000;
    left: 45rem;
    top: 9.2rem; }
  .main-roullet__roullet {
    max-width: 100vw;
    height: 8rem;
    border-radius: 2rem;
    color: #dadae1;
    font-size: 2rem;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    position: relative;
    transition-duration: 5s;
    transition-timing-function: ease;
    left: 0; }
    .main-roullet__roullet__el {
      width: 8rem;
      height: 8rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .main-roullet__roullet__el__1 {
        background-color: #2fa337; }
      .main-roullet__roullet__el__2 {
        background-color: #e23e2f; }
      .main-roullet__roullet__el__3 {
        background-color: #2f2f34; }
  .main-roullet__win-numbers {
    width: 100%;
    height: 4rem;
    border-radius: 2rem;
    width: 90rem;
    overflow: hidden;
    margin-left: 2rem; }
  .main-roullet__balance {
    width: 100%;
    height: 7rem;
    border-radius: 2rem;
    width: 90rem;
    margin-left: 2rem; }
  .main-roullet__win-numbers {
    display: flex;
    color: #dadae1; }
    .main-roullet__win-numbers__numbers {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100%;
      width: 50%;
      font-size: 2rem; }
      .main-roullet__win-numbers__numbers__el {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .main-roullet__win-numbers__numbers__el__1 {
          background-color: #5eb76e; }
        .main-roullet__win-numbers__numbers__el__2 {
          background-color: #db796f; }
        .main-roullet__win-numbers__numbers__el__3 {
          background-color: #5f5f5f; }
        .main-roullet__win-numbers__numbers__el__1:hover {
          background-color: #2fa337; }
        .main-roullet__win-numbers__numbers__el__2:hover {
          background-color: #e23e2f; }
        .main-roullet__win-numbers__numbers__el__3:hover {
          background-color: #2f2f34; }
    .main-roullet__win-numbers__jackpot {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 100%;
      font-size: 3rem; }
      .main-roullet__win-numbers__jackpot__cup {
        margin-right: 1rem;
        width: 4rem;
        height: 4rem; }
  .main-roullet__balance {
    display: flex;
    align-items: center; }
    .main-roullet__balance__balance {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      border: 2px solid #2f2f34;
      border-radius: 1rem;
      padding: 1rem; }
      .main-roullet__balance__balance__amount {
        margin-left: 1rem; }
      .main-roullet__balance__balance__reload {
        margin: 0 1rem 0 2rem;
        width: 2rem;
        height: 2rem; }
    .main-roullet__balance__bet {
      width: 100%;
      height: 100%;
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 1fr 4fr;
      grid-column-gap: 1rem;
      background-color: #2a2a30;
      border-radius: 1rem;
      padding: 1rem; }
      .main-roullet__balance__bet__input {
        display: flex;
        align-items: center;
        border: 1px transparent;
        font-size: 2rem;
        border-radius: 1rem;
        background: #2a2a30;
        color: #dadae1;
        height: 5rem; }
      .main-roullet__balance__bet__input:focus, .main-roullet__balance__bet__input:active {
        outline: none !important; }
      .main-roullet__balance__bet__input:focus::placeholder, .main-roullet__balance__bet__input:active::placeholder {
        color: transparent; }
      .main-roullet__balance__bet__amount2 {
        margin-left: 3rem;
        font-size: 2rem;
        display: flex;
        align-items: center; }
    .main-roullet__balance__buttons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 1.4rem; }
      .main-roullet__balance__buttons__el {
        border: 2px solid rgba(164, 164, 178, 0.7);
        border-radius: 1rem;
        padding: 1rem;
        cursor: pointer; }
      .main-roullet__balance__buttons__el-max {
        font-size: 1.4rem;
        color: #e15d51;
        border: 2px solid rgba(225, 93, 81, 0.7);
        border-radius: 1rem;
        padding: 1rem;
        cursor: pointer;
        text-transform: uppercase; }
      .main-roullet__balance__buttons__el-clear {
        font-size: 1.4rem;
        border: 2px solid rgba(164, 164, 178, 0.7);
        border-radius: 1rem;
        padding: 1rem;
        cursor: pointer;
        text-transform: uppercase; }
      .main-roullet__balance__buttons__el:hover, .main-roullet__balance__buttons__el-clear:hover {
        border: 2px solid #a4a4b2; }
      .main-roullet__balance__buttons__el-max:hover {
        border: 2px solid #e15d51; }

.spin {
  animation-name: spin;
  animation-duration: 2s; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.display-interface {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0rem 0rem;
  margin-top: 2rem;
  background-color: black;
  border-radius: 1rem; }
  .display-interface__varaity-bet {
    display: flex;
    justify-content: space-between; }
  .display-interface__all-bet {
    background-color: #2a2a30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32%;
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(112.49deg, #523839 2.09%, #2f2f34 59.15%); }
    .display-interface__all-bet__coulor {
      color: #dadae1;
      background-color: rgba(225, 93, 81, 0.8);
      border-radius: 1rem;
      border: none;
      height: 4rem;
      padding: 1rem;
      font-family: "Josefin Sans";
      cursor: pointer; }
    .display-interface__all-bet__coulor:hover {
      background-color: #e15d51; }
    .display-interface__all-bet__coulor-black {
      background-color: rgba(0, 0, 0, 0.5);
      color: #dadae1;
      border-radius: 1rem;
      border: none;
      height: 4rem;
      padding: 1rem;
      font-family: "Josefin Sans";
      cursor: pointer; }
    .display-interface__all-bet__coulor-black:hover {
      background-color: black; }
  .display-interface__all-bet-black {
    background-color: #2a2a30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32%;
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(112.49deg, #373737 2.09%, #2f2f34 59.15%); }
  .display-interface__all-bets__numbers-red {
    color: #dadae1;
    background-color: rgba(225, 93, 81, 0.2);
    border-radius: 0.5rem;
    border: 1px solid #e15d51;
    height: 3.5rem;
    width: 2.2rem;
    cursor: pointer; }
  .display-interface__all-bets__numbers-black {
    color: #dadae1;
    background-color: rgba(42, 42, 48, 0.2);
    border-radius: 0.5rem;
    border: 1px solid #a4a4b2;
    height: 3.5rem;
    width: 2.2rem;
    cursor: pointer; }
  .display-interface__all-bets__numbers-red:hover {
    background-color: #e15d51; }
  .display-interface__all-bets__numbers-black:hover {
    background-color: black; }
  .display-interface__zero-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 32%;
    border-radius: 1rem;
    border: none;
    background: linear-gradient(105.65deg, #38523e -1.26%, #2f2f34 56.01%); }
    .display-interface__zero-box__zero {
      background-color: rgba(94, 183, 110, 0.9);
      padding: 1.5rem 3.5rem 1.5rem 3.5rem;
      width: 28rem;
      border-radius: 1rem;
      border: none;
      cursor: pointer; }
    .display-interface__zero-box__zero:hover {
      background-color: #5eb76e; }

.counter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5rem; }
  .counter__red {
    color: #a4a4b2;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a30;
    border-radius: 1rem;
    width: 32%;
    height: 3rem; }
  .counter__zero {
    color: #a4a4b2;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a30;
    border-radius: 1rem;
    width: 32%;
    height: 3rem; }
  .counter__black {
    color: #a4a4b2;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a30;
    border-radius: 1rem;
    width: 32%;
    height: 3rem; }

.display-players {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5rem; }
  .display-players__players {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45%;
    margin-bottom: 0.5rem; }
    .display-players__players__img {
      width: 3rem;
      height: 3rem;
      margin-right: 0.3rem; }
    .display-players__players__number {
      font-size: 2rem; }
  .display-players__totalbet {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0.5rem; }
    .display-players__totalbet__text {
      font-size: 1.6rem;
      opacity: 0.5;
      margin-right: 0.3rem; }
    .display-players__totalbet__amount {
      font-size: 1.8rem;
      color: #dadae1; }
  .display-players__red {
    color: #a4a4b2;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2a2a30;
    border-radius: 1rem;
    width: 32%;
    padding: 1rem; }
  .display-players__zero {
    color: #a4a4b2;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2a2a30;
    border-radius: 1rem;
    width: 32%;
    padding: 1rem; }
  .display-players__black {
    color: #a4a4b2;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2a2a30;
    border-radius: 1rem;
    width: 32%;
    padding: 1rem; }

.display-players__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border-bottom: 1px solid rgba(164, 164, 178, 0.3); }

.active-players__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%; }

.active-players__container-red {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%; }

.active-players__container-zero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%; }

.active-players__container-black {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%; }

.active-players {
  margin-top: 1rem;
  display: flex;
  align-items: center; }
  .active-players__avatar {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%; }
  .active-players__nick {
    font-size: 1.5rem;
    color: #dadae1; }
  .active-players__betamount {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .active-players__betamount__amount {
      font-size: 1.4rem;
      color: #e15d51;
      margin-right: 1rem; }
    .active-players__betamount__amount-red {
      font-size: 1.4rem;
      color: #e15d51;
      margin-right: 1rem; }
    .active-players__betamount__amount-zero {
      font-size: 1.4rem;
      color: #e15d51;
      margin-right: 1rem; }
    .active-players__betamount__amount-black {
      font-size: 1.4rem;
      color: #e15d51;
      margin-right: 1rem; }
    .active-players__betamount__color-red {
      width: 1.5rem;
      height: 2rem;
      background-color: #e15d51;
      border-radius: 3px;
      margin-right: 1rem; }
    .active-players__betamount__color-green {
      width: 1.5rem;
      height: 2rem;
      background-color: #5eb76e;
      border-radius: 3px;
      margin-right: 1rem; }
    .active-players__betamount__color-black {
      width: 1.5rem;
      height: 2rem;
      background-color: black;
      border-radius: 3px;
      margin-right: 1rem; }
